adjustText
alabaster==1.0.0
anyio==3.7.1
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.5
attrs==24.2.0
babel==2.16.0
beautifulsoup4==4.12.3
bibtexparser==1.4.3
biom-format
biopython
blinker==1.9.0
blosc2
bokeh
boolean.py==5.0
CacheControl==0.14.3
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
cloudpickle==3.1.1
comm==0.2.2
contourpy
#corrosion_scoring @ git+https://github.com/MagicAlex238/2_Micro.git@b1087c36991f4cfec1cb9344095b2cd92b326694
crossrefapi==1.6.0 # upgrading it degrades urllib3 which has a security warning. Instead, use habanero or direct requests to the Crossref REST API.
cycler==0.12.1
cyclonedx-python-lib==9.1.0
dash==3.0.2
dash-bootstrap-components==2.0.0
dask==2025.4.1
debugpy==1.8.9
decorator==5.1.1
defusedxml==0.7.1
DendroPy==5.0.1
Deprecated==1.2.15
dill==0.3.9
distributed==2025.4.1
docutils==0.21.2
et_xmlfile==2.0.0
ete3==3.1.3
exceptiongroup==1.2.2
executing==2.1.0
fake-useragent==2.0.3
fastjsonschema==2.20.0
filelock==3.18.0
Flask==3.0.3
fonttools==4.55.0
fqdn==1.5.1
free_proxy==1.1.3
fsspec==2025.3.0
fuzzywuzzy==0.18.0
git-filter-repo==2.47.0
GPUtil==1.4.0
greenlet==3.1.1
h11==0.16.0
h5py
httpcore
httpx==0.28.1
humanize==4.11.0
idna==3.10
imagesize==1.4.1
imbalanced-learn
importlib_metadata==8.6.1
ipykernel==6.29.5
ipython==8.29.0
ipython-genutils==0.2.0
ipywidgets==8.1.5
isoduration==20.11.0
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
joblib==1.4.2
json5==0.9.28
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.13
kaleido==0.2.1
kiwisolver==1.4.7
kneed
Levenshtein==0.27.1
license-expression==30.4.1
llvmlite==0.43.0
locket==1.0.0
lxml==5.3.0
lz4==4.4.3
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib
matplotlib-inline
mdurl==0.1.2
memory-profiler==0.61.0
mistune==3.0.2
msgpack==1.1.0
multiprocess==0.70.17
narwhals==1.32.0
natsort==8.4.0
nbclassic==0.5.6
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
ndindex==1.9.2
nest-asyncio==1.6.0
networkx==3.0
notebook==7.4.2
notebook_shim==0.2.4
numba
numexpr==2.10.2
numpy
openpyxl==3.1.5
outcome==1.3.0.post0
overrides==7.7.0
packageurl-python==0.16.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
partd==1.4.2
patsy==1.0.1
pexpect==4.9.0
pillow
#pillow==11.2.1 # Vulnerable version, commented out for archiving purposes
pip-api==0.0.34
pip-requirements-parser==32.0.1
pip_audit==2.9.0
platformdirs==4.3.6
plotly==5.24.1
plotly-express==0.4.1
prometheus_client==0.21.0
prompt_toolkit==3.0.48
psutil==6.1.0
psycopg2-binary==2.9.10
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py-serializable==2.0.0
pyarrow==19.0.1
pycparser==2.22
Pygments==2.18.0
pynndescent==0.5.13
pyparsing==3.2.0
PyQt5
#PyQt5-Qt5==5.15.16
#PyQt5_sip==12.16.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==0.19.0
python-json-logger==3.3.0
python-Levenshtein==0.27.1
python-louvain==0.16
pytz==2024.2
PyYAML==6.0.2
pyzmq==26.2.0
RapidFuzz==3.12.2
referencing==0.35.1
requests
#requests==2.32.3 # updated because security warning, however will be use when needed, vulnerabilities still no updated by creators
retrying==1.3.4
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.21.0
SALib==1.4.7
scholarly==1.7.11
scikit-learn==1.6.1
scipy==1.11.4
seaborn==0.13.2
selenium==4.27.1
Send2Trash==1.8.3
shap==0.47.2
six==1.16.0
slicer==0.0.8
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==8.1.3
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==1.4.31
stack-data==0.6.3
statsmodels==0.13.5
tables==3.10.1
tabulate==0.9.0
tblib==3.0.0
tenacity==9.0.0
terminado==0.18.1
threadpoolctl==3.5.0
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
toolz==1.0.0
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
trio==0.28.0
trio-websocket==0.11.1
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2024.2
umap-learn==0.5.7
uri-template==1.3.0
#urllib3
#urllib3== 2.5.0 # version compatible is 1.26.19 but updated to latest for security incase of use will reverse
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.0.6
widgetsnbextension==4.0.13
wrapt==1.17.0
wsproto==1.2.0
xyzservices==2025.1.0
zict==3.0.0
zipp==3.21.0
